body{
  background-color: #FFB6C1;
  color: #222222;
  }
  
  h1 {
  display: block;
  font-size: 3em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: #8B0000; 
  }
  
  h2 {
  display: block;
  font-size: 2.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: #8B0000;
  }
  
  h3 {
  display: block;
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: #8B0000;
  }
  
  p {
  padding: 2% 0;
  font-size: 1.2em;
  }
  
  img {
  padding:3% 0;
  max-width: 100%;
  }
  
  ol {
  list-style-type: decimal;
  margin: 0;
  padding-left: 24px;
  }
  
  #container {
  width: 90%;
  height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  };
  
  ul {
  list-style-type: square;
  margin: 0;
  padding-left: 24px;
  }
  
  table {
  border-collapse: collapse;
  width: 100%;
  }
  
  th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #8B0000;
  }
  
  th {
  background-color: #FFB6C1;
  }
  
  nav {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav img {
    height: 50px;
    margin: 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }